<div class="menu-left">
  <div class="top" [style.height]="topHeightStr" style="text-align: right">
    <button type="button" class="btn btn-primary" (click)="backIndex()">Back</button>
  </div>
  <div class="left" [style.height]="leftHeight"></div>
  <div class="right">
    <app-query-condition></app-query-condition>
    <table class="table menu-left-table">
      <thead>
        <tr>
          <th *ngFor="let item of thList"><span>{{item}}</span></th>
        </tr> 
      </thead>
      <tbody>
        <tr *ngFor="let web of testWebListJson">
          <td>{{web['sq']}}</td>
          <td>{{web['num']}}</td>
          <td>{{web['webType']}}</td>
          <td>{{web['webName']}}</td>
          <td>{{web['value']}}</td>
          <td>{{web['webKey']}}</td>
          <td>{{web['page']}}</td>
          <td>{{web['base']}}</td>
          <td>
            <button>
              <span class="glyphicon glyphicon-search"></span>  Query
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-table-paging [pageNum]="1" [pageTotal]="10"></app-table-paging>
  </div>
</div>

