<div class="menu-left">
  <div class="top" [style.height]="topHeightStr" style="text-align: right">
    <button type="button" class="btn btn-primary" (click)="backIndex()">Back</button>
  </div>
  <div class="left" [style.height]="leftHeight"></div>
  <div class="right">
    <div class="query-condition">
      <div class="form-group">
        <label>sq:&nbsp;&nbsp;&nbsp;</label>
        <input type="text" class="query-condition-sq">
      </div>
      <div class="form-group">
        <label>num:&nbsp;&nbsp;&nbsp;</label>
        <input type="text"  class="query-condition-num">
      </div>
      <div class="form-group">
        <label>type:&nbsp;&nbsp;&nbsp;</label>
        <input type="text" class="query-condition-type">
      </div>
      <div class="form-group">
        <label>name:&nbsp;&nbsp;&nbsp;</label>
        <input type="text" class="query-condition-name">
      </div>
      <div class="form-group">
        <button class="btn-ra" (click)="queryTestWebList()">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
      <div class="form-group">
        <button class="btn-ra" (click)="clearQueryCondition()">
          <span class="glyphicon glyphicon-refresh"></span>
        </button>
      </div>
    </div>
    <table class="table menu-left-table">
      <thead>
        <tr>
          <th *ngFor="let item of thList"><span>{{item}}</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let web of testWebListJson">
          <td>{{web['sq']}}</td>
          <td>{{web['num']}}</td>
          <td>{{web['webType']}}</td>
          <td>{{web['webName']}}</td>
          <td>{{web['value']}}</td>
          <td>{{web['webKey']}}</td>
          <td>{{web['page']}}</td>
          <td>{{web['base']}}</td>
          <td>
            <button>
              <span class="glyphicon glyphicon-search"></span>  Query
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-table-paging [pageNum]="pageNum" [pageTotal]="pageTotal" (prePage)="queryTestWebListPre($event)" (nextPage)="queryTestWebListNext($event)"></app-table-paging>
  </div>
</div>

