.menu-left{
  .top{
    width: 100%;
    border-bottom: 2px solid whitesmoke;
  }
  .left{
    width: 15%;
    float: left;
    border-right: 2px solid whitesmoke;
  }
  .right{
    width: 82%;
    float: right;
    margin-right: 2%;
    padding-top: 15px;
  }
  table{
    border: 2px solid black;
    margin-bottom: 10px;
    background-color: whitesmoke;
  }
}

.query-condition>div.form-group{
  float: left;
  padding-left: 5px;
}

table{
  thead>tr>th{
    text-align: center;
    border: 2px solid black;
  }
  tbody>tr>td{
    border-bottom: 1px solid black;
    border-right: 2px solid black;
  }
}

.btn-ra{
  border-radius: 4px;
  padding:  0 10px;
  background-color: whitesmoke;
}
