<!-- 查找 -->
<div class="fc-container">
  <form class="fc-form">
    <!-- Shop Floor Id -->
    <div class="fc-condition">
      <div class="fc-drop-down">
        <div class="fc-group">
          <label class="fc-label fc-small">Shop Floor ID</label>
          <input type="text" #in autocomplete="off" class="item-shop-floor"
                 [ngClass]="{'fc-input-focus':ifOneFocusCLass,'fc-input-panel-visible':ifVisible,'fc-input-error':errorOneClass}"
                 (click)="initPanelList(true)" (keyup)="initPanelList(true)"
                 (focus)="changeOneFocusTrue();" (blur)="changeOneFocusFalse()">
          <i class="fa fa-file-text" [ngClass]="{'fc-icon-focus':ifOneFocusCLass}"></i>
          <span>
            <i class="fc-drop-down-icon">
              <button type="button" class="fc-drop-down-btn" (click)="changeOneIfVisible()" (blur)="changeOneFocusFalse()">
                <i class="fa fa-caret-down fa-lg"></i>
              </button>
            </i>
          </span>
        </div>
        <div class="fc-panel" *ngIf="ifVisible">
          <ul class="fc-panel-items">
            <li class="fc-panel-item" *ngFor="let item of oneValueList" (click)="inputOneValue(item)">{{item}}</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Part Number -->
    <div class="fc-condition">
      <div class="fc-group">
        <label class="fc-label" [ngClass]="{'fc-small':ifTwoLableSmall}">
          <span class="fc-star-red">*</span>
          Part Number
        </label>
        <input type="text" class="item-part-number" [ngClass]="{'fc-input-focus':ifTwoFocusCLass}" (focus)="changeTwoFocusTrue()" (blur)="changeTwoFocusFalse()">
        <i class="fa fa-file-text" [ngClass]="{'fc-icon-focus':ifTwoFocusCLass}"></i>
      </div>
    </div>
  </form>
</div>
