<div class="btn-list">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalOne" (click)="initWindowsHeight()">
    Add Info
  </button>
  <app-mode-one [windowHeightRight]="windowHeightRight"></app-mode-one>
  <button type="button" class="btn btn-primary" (click)="this.service.backIndex()">Back</button>
  <button type="button" class="btn btn-primary" (click)="ShowP()">Show-P1</button>
  <button type="button" class="btn btn-primary" (click)="modeTwo.showDate('6')">Show-P2</button>
  <button type="button" class="btn btn-primary" (click)="clickQueryListByHttpClientGet()">HttpClientGet</button>
  <button type="button" class="btn btn-primary" (click)="clickSaveHttpClientPost()">HttpClientPost</button>
  <button type="button" class="btn btn-primary" (click)="clickHttpClientQueryJsonp()">HttpClientJsonp</button>
  <button type="button" class="btn btn-primary" (click)="clickHttpQueryJsonp()">HttpJsonp</button>
  <app-mode-two #modeTwo></app-mode-two>
</div>


