<div class="btn-list">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalOne" (click)="initWindowsHeight()">
    Add Info
  </button>
  <app-mode-one [windowHeightRight]="windowHeightRight"></app-mode-one>
  <button type="button" class="btn btn-primary" (click)="backIndex()">Back</button>
  <button type="button" class="btn btn-primary" (click)="ShowP()">Show-P1</button>
  <button type="button" class="btn btn-primary" (click)="modeTwo.addMsg2P('qwerty')">Show-P2</button>
  <app-mode-two #modeTwo></app-mode-two>
</div>


