<div class="query-condition">
  <div class="form-group">
    <label>sq:&nbsp;&nbsp;&nbsp;</label>
    <input type="text">
  </div>
  <div class="form-group">
    <label>num:&nbsp;&nbsp;&nbsp;</label>
    <input type="text">
  </div>
  <div class="form-group">
    <label>type:&nbsp;&nbsp;&nbsp;</label>
    <input type="text">
  </div>
  <div class="form-group">
    <label>name:&nbsp;&nbsp;&nbsp;</label>
    <input type="text">
  </div>
  <div class="form-group">
    <button class="btn-ra">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </div>
</div>
